<!DOCTYPE html>
<html>
<head>

	<head>
		<meta charset="utf-8" />
		<title> Juegos Chaco </title>
		<link rel="stylesheet" href="estilo.css">
	</head>
	<body>
		
		
		<div id="container">
		

			<header>
			
			<h1>Preguntas y Respuestas</h1>	
			
			</header>

			<nav>
				<ul>
					<li>
						<a href="index.html">
					        Registrarse
					     </a>
					     
					</li>
					<li>
						<a href="index.html">
					        Loguearse
					     </a>
					     
					</li>
					<li>
						<a href="index.html">
					        JUGAR
					     </a>
					     
					</li>
					<li>
						<a href="index.html">
					        Compartir
					     </a>
					     
					</li>
					
				</ul>
				
			</nav>
			
			<div class="Clearfix"></div>

			<section id="content"> 

				<article class="article">
					<h2>Los Carpinchos:</h2>
					<p>Hydrochoerus hydrochaeris,<br> llamado comúnmente capibara,<br> carpincho o chigüire2​es un roedor de la <br>familia de los cávidos. Es el roedor <br>viviente de mayor tamaño y peso del<br> mundo. Vive en la zona terrestre de los<br>bosques y sabanas tropicales<br> del centro y sur de Sudamérica</p>
				</article>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>	
				<br>
				<br>


				<article class="article">
					<h2>Ciudad de Resistencia</h2>
					<p>Es una ciudad argentina, capital y ciudad más poblada de la provincia del Chaco, además de su principal centro social y económico.</p>
				</article>


			</section>

			<aside>
				<h2>Buscar</h2>
				<form>
					<input type="text">
					<input type="submit" value="Buscar" />
				</form>
			</aside>

			<footer>
				Los Carpinchos WEB Resistencia, Chaco 2021
			</footer>



		</div>

	
</body>
</html>